# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

tallyzen/accounts/               @deepeshgarg007 @ruthra-kumar
tallyzen/assets/                 @anandbaburajan @deepeshgarg007
tallyzen/regional                @deepeshgarg007 @ruthra-kumar
tallyzen/selling                 @deepeshgarg007 @ruthra-kumar
tallyzen/support/                @deepeshgarg007
pos*                            

tallyzen/buying/                 @rohitwaghchaure @s-aga-r
tallyzen/maintenance/            @rohitwaghchaure @s-aga-r
tallyzen/manufacturing/          @rohitwaghchaure @s-aga-r
tallyzen/quality_management/     @rohitwaghchaure @s-aga-r
tallyzen/stock/                  @rohitwaghchaure @s-aga-r
tallyzen/subcontracting          @rohitwaghchaure @s-aga-r

tallyzen/controllers/            @deepeshgarg007 @rohitwaghchaure
tallyzen/patches/                @deepeshgarg007 

.github/                        @deepeshgarg007
pyproject.toml                  @phot0n
