# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

tallyzen/accounts/              @netmanthan @netmanthan
tallyzen/assets/                 @netmanthan@netmanthan
tallyzen/regional               @netmanthan @netmanthan
tallyzen/selling                @netmanthan @netmanthan
tallyzen/support/               @netmanthan
pos*                            

tallyzen/buying/                 @@netmanthan @netmanthan
tallyzen/maintenance/            @@netmanthan @netmanthan
tallyzen/manufacturing/          @@netmanthan @netmanthan
tallyzen/quality_management/     @@netmanthan @netmanthan
tallyzen/stock/                  @@netmanthan @netmanthan
tallyzen/subcontracting          @@netmanthan @netmanthan

tallyzen/controllers/           @netmanthan @@netmanthan
tallyzen/patches/               @netmanthan

.github/                       @netmanthan
pyproject.toml                  @netmanthan
